In [1]:
import random

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from nltk.tokenize import RegexpTokenizer

import torch
from torch import nn

import textwrap

In [2]:
df = pd.read_csv("rJokesData/data/preprocessed.csv")
df.sample(5)

,joke,body,punchline,score,date
5940,Divorce Mickey Mouse was fed up and wanted a d...,Mickey Mouse was fed up and wanted a divorce f...,Divorce,426.0,1.329663e+09
35557,If Apple made cars... ...would they have Windo...,...would they have Windows installed?,If Apple made cars...,13.0,1.390346e+09
269598,Mao Zedong once said that there are only two g...,Male and abortion.,Mao Zedong once said that there are only two g...,99.0,1.490855e+09
223061,The sky's the limit... But not when you're an ...,But not when you're an astronaut.,The sky's the limit...,1.0,1.478890e+09
270484,john wick walks into a bar Two red necks immed...,"Two red necks immediately get on his case,he t...",john wick walks into a bar,1.0,1.491120e+09

In [3]:
df = df.dropna(axis=0)
df.head()

,joke,body,punchline,score,date
178,I hope you're all getting your Walter Cronkite...,"Here's mine. \n\nEd McMahon, David Carradine, ...",I hope you're all getting your Walter Cronkite...,8.0,1.246240e+09
182,What is the only thing a woman can say that wi...,"""Your dick is bigger than your brother's.""",What is the only thing a woman can say that wi...,24.0,1.247151e+09
184,What do scientists use to measure a chicken's ...,An egg timer,What do scientists use to measure a chicken's ...,0.0,1.247210e+09
189,Two Gay guys are lying on their bed... Two gay...,Two gay guys are lying on their bed. The firs...,Two Gay guys are lying on their bed...,0.0,1.247510e+09
193,At 12:01 after midnight... At 12:01 after midn...,"At 12:01 after midnight, on a cloudy evening, ...",At 12:01 after midnight...,0.0,1.248463e+09

In [4]:
text = " ".join(list(df.loc[:, "joke"]))[:100000]
print(len(text))
print(textwrap.fill(text[:300], 80))

100000
I hope you're all getting your Walter Cronkite jokes in order. He's next.
Here's mine.   Ed McMahon, David Carradine, Farrah Fawcett, Michael Jackson,
Billy Mays, and Walter Cronkite walk into a bar.   And die.   Your turn.  What
is the only thing a woman can say that will make a man feel both happ

In [5]:
tokenizer = RegexpTokenizer(r'\w+')
tokens = tokenizer.tokenize(text.lower())
print(tokens[:30])
print(len(tokens))

['i', 'hope', 'you', 're', 'all', 'getting', 'your', 'walter', 'cronkite', 'jokes', 'in', 'order', 'he', 's', 'next', 'here', 's', 'mine', 'ed', 'mcmahon', 'david', 'carradine', 'farrah', 'fawcett', 'michael', 'jackson', 'billy', 'mays', 'and', 'walter']
18764

In [ ]:
print(1)

: